<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: Layout(~{::title}, ~{::content})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>


</head>
<body>
<div th:fragment ="content">
<div class="container">
    <h1>Employee Management System</h1>
    <p>Welcome to the Employee Management System. Use the links below to manage employees.</p>

    <div class="nav-links">
        <a href="/save">Add New Employee</a>
        <a href="/edit">Edit Employee</a>
    </div>
</div>
</div>
</body>
</html>